{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Bienvenue{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue à l'Agence Tous Risques</h1>
			<p class="lead">L'agence tous risques est une application qui va te permettre de retrouver toutes nos agances et nos agents sur le terrain</p>
			<hr class="my-4">

			<div class="list-group">
                <p class="lead">Consulter nos missions :</p>
				<a href="#" class="list-group-item list-group-item-action active">Cras justo odio</a>
				<a href="#" class="list-group-item list-group-item-action mt-2">Dapibus ac facilisis in</a>
				<a href="#" class="list-group-item list-group-item-action mt-2">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action mt-2">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action mt-2">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action mt-2">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action mt-2">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action mt-2">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action mt-2">Dapibus ac facilisis in</a>
			</div>
		</div>
	</div>
{% endblock %}
